body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  background-color: whitesmoke;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  padding-left: 3rem;
  text-align: center;
}

.pokemon-list {
  width: 400px;
  max-width: 80vw;
  list-style-type: none;
  margin: 0 auto;
}
.pokemon-list__item--button {
  width: 100%;
  height: 3rem;
  background-color: darkgray;
  border: 2px solid whitesmoke;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.pokemon-list__item--button:hover,
.pokemon-list__item--button:focus {
  background-color: steelblue;
  font-weight: 700;
}
