body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  background-color: hsl(51, 100%, 87%);
}

h1 {
  font-size: 2rem;
  line-height: 2.8rem;
  padding-left: 3rem;
  text-align: center;
}

.pokemon-list {
  width: 400px;
  max-width: 80vw;
  list-style-type: none;
  margin: 0 auto;
}
.pokemon-list__item--button {
  width: 100%;
  height: 3rem;
  background-color: whitesmoke;
  border: 3px solid hsl(51, 100%, 50%);
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  color: #278bb9;
  margin: 3px;
}

.pokemon-list__item--button:hover,
.pokemon-list__item--button:focus {
  background-color: #278bb9;
  border-color: hsl(199, 65%, 35%);
  font-weight: 700;
  color: white;
}

/* Modal Styles */

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* To show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  margin-top: 40px;
  display: block;
  flex-direction: column;
  box-sizing: border-box;
  background: whitesmoke;
  padding: 12px;
  width: 100%;
  max-width: 600px;
  text-align: left;
}

.modal img {
  width: 60%;
  min-width: 200px;
  max-width: 600px;
  margin: auto;
  padding-top: 2rem;
  padding-left: 15%;
}

.modal__text-container {
  width: 48%;
  margin: auto;
  margin-left: 28%;
}

.modal h1 {
  margin: 5px auto 7px 0;
  padding: 0;
  text-align: left;
  border-bottom: 5px #278bb9 solid;
}

.modal p {
  margin: 0;
  padding: 0;
}

.modal__close-button {
  float: right;
  border: 0;
  background: none;
  text-decoration: underline;
  width: 40px;
  font-size: 1rem;
  color: #278bb9;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
}
